.c-select p.invalid-feedback {
    top: 18rem;
    width: fit-content;
}

.c-select .dropdown .dropdown-menu .c-list {
    max-height: calc(7 * (1rem + 7px) * 2);
    background-color: var(--bs-dropdown-bg);
}
.c-select .dropdown .dropdown-menu .c-list .c-list-item {
    font-size: 0.875rem;
}

.c-select .dropdown .dropdown-menu .dropdown-item {
    cursor: pointer;
    background-color: inherit;
}

.c-select .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: var(--bs-blue);
    color: var(--bs-white);
}

.c-select .dropdown .dropdown-menu .hidden {
    display: none;
}

.c-select .dropdown .dropdown-menu .dropdown-item,
.c-select .dropdown .dropdown-menu .form-control::placeholder {
    font-family: 'SintonyRegular', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.c-select .dropdown .dropdown-menu .form-control:focus {
    border-color: var(--bs-gray-300);
}

.c-select .dropdown .dropdown-menu > input::placeholder {
    font-weight: 400;
    font-size: 0.875rem;
}

.c-select .selected-items {
    min-height: 2.125em;
    padding: 2px 0;
}

.c-select .selected-items > div {
    letter-spacing: 1px;
    padding-top: 3px;
}
.c-select .selected-items > div button.close {
    width: 20px;
    background: none;
}
.c-select .selected-items > div button.close svg {
    opacity: 0.6;
    margin-bottom: 3px;
}

.c-select .selected-items > div button.close svg:hover {
    opacity: 1;
}

.dropdown .btn-outline-dark {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.dropdown .btn-outline-dark:active,
.dropdown .btn-outline-dark:focus,
.dropdown .btn-outline-dark {
    color: #000000;
}

.dropdown .btn-outline-dark:hover {
    background-color: var(--bs-cyan) !important;
    color: #000000;
}