.c-dropdown .dropdown .dropdown-menu {
    border-color: var(--bs-dark-border-subtle);
    max-height: calc(8 * (var(--dd-font-size-calc) + 7px) * 2);
    overflow-y: auto;
    background-color: var(--bs-dropdown-bg);
}

.c-dropdown .dropdown .dropdown-menu .dropdown-item {
    cursor: pointer;
    background-color: inherit;
}

.c-dropdown .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.c-dropdown .dropdown .dropdown-menu .input-dd-fs {
    font-size: var(--dd-font-size);
}

.c-dropdown .dropdown-item,
.c-dropdown input::placeholder {
    letter-spacing: 1px;
}

.search-selected {
    letter-spacing: 1px;
    background-color: var(--bs-info);
    width: fit-content;
    height: fit-content;
}

.input-dd-selected-items .reset-input-dd {
    font-size: inherit;
    line-height: 1;
}