.c-dropdown .dropdown .dropdown-menu {
    max-height: calc(8 * (1rem + 7px) * 2);
    background-color: var(--bs-dropdown-bg);
}

.c-dropdown .dropdown .dropdown-menu .dropdown-item {
    cursor: pointer;
    background-color: inherit;
}

.c-dropdown .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.c-dropdown .dropdown .dropdown-menu .input-dd-fs {
    font-size: 0.875rem;
}

.c-dropdown .dropdown-item,
.c-dropdown input::placeholder {
    letter-spacing: 1px;
}

.search-selected {
    letter-spacing: 1px;
    width: fit-content;
    height: fit-content;
}

.input-dd-selected-items .reset-input-dd {
    font-size: inherit;
}

.btn-right-error {
    top: 100%;
    left: 24%;

}

.dropdown .btn-outline-dark {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.dropdown .btn-outline-dark:active,
.dropdown .btn-outline-dark:focus,
.dropdown .btn-outline-dark {
    color: #000000;
}

.dropdown .btn-outline-dark:hover {
    background-color: var(--bs-cyan) !important;
    color: #000000;
}