@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "vars";
@import "mixins";

/*
* styles for forms in Commodities page and Trade route page
*/

.c-form {
    background-color: $custom-white;
    @include fnt-lett($font: 'SintonyBold', $weight: 700, $lett: 2px);
    
    .target-sys-station {
        vertical-align: top;
    }
    
    .target-sys-station-input {
        vertical-align: middle;
    }
    
    .dropdown {
        .btn-outline-dark {
            @include fnt();
        }
        
        .btn-outline-dark:active,
        .btn-outline-dark:focus,
        .btn-outline-dark {
            color: $dark;
        }
        
        .btn-outline-dark:hover {
            background-color: $custom-light-orange !important;
            color: $dark;
        }
    }
    
    select,
    option {
        @include fnt-lett($lett: 2px);
    }

    .btn-violet {
        @include fnt-lett($font: 'SintonyBold', $weight: 700, $lett: 4px);
    }
    
    .right-column {
        max-width: 100%;
    }
    
    .min-lett-spacing {
        letter-spacing: 1px;
    }

    .buy-sell-switch {
        width: 100%;
        
        label {
            background-color: $secondary-bg-subtle;
            width: 72px;
            max-width: fit-content;
            font-size: inherit;
        }
        
        label:hover,
        .btn-check:checked + .btn {
            background-color: $custom-light-orange;
        }
    }

    .c-select {
        p.invalid-feedback {
            top: 18rem;
            width: fit-content;
        }
    }
    
    @media screen and (min-width: 992px) {
        .right-column {
            max-width: 324px;
        }
    }
    
    @media screen and (min-width: 1031px) {
        .min-lett-spacing {
            letter-spacing: 2px;
        }
    }
}

