@import "../../../node_modules/bootstrap/scss/functions.scss";
@import "../../../node_modules/bootstrap/scss/variables.scss";
@import "vars";
@import "mixins";

.c-table {
    thead {
        background-color: $custom-light-orange !important;
        tr {
            
            th:nth-child(6),
            th:nth-child(9),
            th:nth-child(10) {
                a.sorted::after {
                    content: "";
                    padding: 8px;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16"><path d="M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659" /></svg>');
                    background-repeat: no-repeat;
                    background-position: top;
                }
                
                a.sorted.asc::after {
                    transform: rotate(180deg);
                }
            }
        }
        
        th:nth-child(6):hover,
        th:nth-child(9):hover,
        th:nth-child(10):hover {
            background-color: $warning !important;
            
            a {
                color: $light !important;
            }
        }
    }
}

tr {
    td,
    th {
        white-space: nowrap;
        width: 300px;
    }
    
    td {
        border: 0;
    }
    
    td:first-child,
    th:first-child {
        min-width: fit-content;
        width: fit-content;
        max-width: fit-content;
    }
    
    td:nth-child(2),
    th:nth-child(2) {
        min-width: fit-content;
        width: 228px;
        max-width: fit-content;
    }
    
    td:nth-child(3),
    th:nth-child(3) {
        min-width: 152px;
        max-width: 152px;
    }
    
    td:nth-child(4),
    th:nth-child(4) {
        min-width: 44px;
        max-width: 44px;
    }
    
    td:nth-child(5),
    th:nth-child(5) {
        min-width: fit-content;
        width: 140px;
        max-width: fit-content;
    }
    
    td:nth-child(6),
    th:nth-child(6) {
        min-width: 78px;
        max-width: 78px;
    }
    
    td:nth-child(7),
    th:nth-child(7) {
        min-width: 112px;
        max-width: 112px;
    }
    
    td:nth-child(8),
    th:nth-child(8) {
        min-width: 76px;
        max-width: 76px;
    }
    
    td:nth-child(9) {
        @include fnt('SintonyBold', 700);
    }
    
    td:nth-child(9),
    th:nth-child(9) {
        min-width: 72px;
        max-width: 72px;
    }
    
    td:nth-child(10),
    th:nth-child(10) {
        min-width: 128px;
        max-width: 128px;
    }
}
