@import "../../../node_modules/bootstrap/scss/functions.scss";
@import "../../../node_modules/bootstrap/scss/variables.scss";
@import 'vars';
@import 'mixins';

.header {
    background-color: $header-color;
    height: 96px;
    max-height: 96px;

    .navbar-toggler {
        background-color: $custom-light-orange;
    }

    .navbar {
        background-color: $header-color;
    }

    .logo,
    .navbar-brand:hover {
        font-family: 'EuroCaps', sans-serif;
        font-size: $f-size-logo;
        color: $custom-orange !important;
    }

    .menu {
        &-item {
            position: relative;
            width: fit-content;
        }

        &-link::after {
            position: absolute;
            bottom: -1px;
            left: 50%;
            content: "";
            width: 0;
            height: 3px;
            background-color: $custom-light-orange;
            transition-property: width, left;
            transition-duration: 200ms;
            transition-timing-function: linear;
        }
        
        &-link:hover:not(.active) {
            &::after {
                left: 0;
                width: 100%;
            }
        }

        &-link {
            @include fnt-lett('SintonyBold', 700, 1px);
            //font-family: 'SintonyBold', sans-serif;
            font-size: 1rem;
        }

        &-link:hover,
        &-link.active {
            color: $custom-light-orange !important;
        }
    }
}