@mixin fnt-lett($font: 'SintonyRegular', $weight: 400, $lett: normal) {
    font-family: $font, sans-serif;
    font-weight: $weight;
    letter-spacing: $lett;
}

@mixin fnt($font: inherit, $weight: inherit, $size: inherit) {
    font-family: $font, sans-serif;
    font-weight: $weight;
    font-size: $size;
}