@import "../../../node_modules/bootstrap/scss/functions.scss";
@import "../../../node_modules/bootstrap/scss/variables.scss";
@import "vars";

.arrow {
    position: absolute;
    
    span {
        display: block;
        width: 1.5vw;
        height: 1.5vw;
        border-bottom: 5px solid $custom-light-orange;
        border-right: 5px solid $custom-light-orange;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    
    span:nth-child(2) {
        animation-delay: -0.2s;
    }
    
    span:nth-child(3) {
        animation-delay: -0.4s;
    }
}

.arrow.arrow-right {
    top: 32%;
    left: 45%;
    transform: rotate(-90deg);
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
