/* TomSelect styles */
.ts-wrapper.t-sel {
    .ts-control > input::placeholder {
        font-size: 0.875rem;
    }

    .ts-control {
        padding: 0 0.75rem;
    }

    .ts-dropdown .active {
        background-color: $primary;
        color: $light;
    }
}
.ts-wrapper.t-sel.plugin-dropdown_input.focus {
    .ts-dropdown {
        .dropdown-input-wrap {
            .dropdown-input {
                outline: 0;
                box-shadow:
                    rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
                    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
                    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
                margin: 4px auto;
                border: none;
                max-width: 98%;
                border-radius: 5px;
            }
        }
    }
}

form.was-validated {
    .t-sel:invalid ~ .ts-wrapper.form-select-sm > .ts-control,
    .t-sel:invalid ~ .ts-wrapper.form-select-sm.focus > .ts-control {
        border: 1px solid $danger;
    }

    .t-sel:valid ~ .ts-wrapper.form-select-sm > .ts-control,
    .t-sel:valid ~ .ts-wrapper.form-select-sm.focus > .ts-control {
        border: 1px solid $dark;
    }
}

form:not(.was-validated) {
    .t-sel.ts-wrapper.form-select-sm:not(.is-invalid) > .ts-control,
    .t-sel.ts-wrapper.form-select-sm.focus:not(.is-invalid) > .ts-control {
        border: 1px solid $dark;
    }

    .t-sel.ts-wrapper.form-select-sm.is-invalid > .ts-control,
    .t-sel.ts-wrapper.form-select-sm.focus.is-invalid > .ts-control {
        border: 1px solid $danger;
    }
}

.ts-wrapper:focus-visible {
    outline: 0;
}

.ts-wrapper.is-invalid.single,
.ts-wrapper.is-invalid:not(.single),
.was-validated .invalid.single,
.was-validated .invalid:not(.single),
.was-validated :invalid+.ts-wrapper.single,
.was-validated :invalid+.ts-wrapper:not(.single) {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
}

.ts-wrapper.is-valid,
.ts-wrapper.is-valid:not(.single),
.was-validated .valid,
.was-validated .valid:not(.single),
.was-validated :valid+.ts-wrapper,
.ts-wrapper.is-valid.single,
.was-validated .valid.single,
.was-validated :valid+.ts-wrapper.single,
.was-validated :valid+.ts-wrapper:not(.single) {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
}

.ts-wrapper.is-invalid:not(.single) {
    background-size: 12px;
    background-position: calc(100% - 14px);
}

#adv-ship-form {
    #cMainSelect ~ .ts-wrapper {
        .ts-control {
            padding: 0.375rem 0.75rem;
        }
    }
}

/* end of TomSelect styles */
