//$input-border-color: #dee2e6;
$custom-white: #FBFBFB;
//$custom-black: #313131;
$header-color: #370665;
$main-background: #35589A;
$custom-orange: #F14A16;
$custom-light-orange: #FC9918;
//$custom-gray: #787777;
//$custom-light-violet: #9297f7;
$f-size-logo: 3.5rem;
//$f-size-menu: 1rem;
//$dd-font-size: 1rem;
