@import "fonts";
@import "vars";
@import "../../../node_modules/bootstrap/scss/functions.scss";
@import "../../../node_modules/bootstrap/scss/variables.scss";
@import "tselect";

:root {
    --bs-border-color: var(--bs-dark-border-subtle);
}

h1 {
    color: $gray-200;
}

select {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
}

input {
    outline: 0;
}

body {
    overflow-x: hidden;
}

.t-tip {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 2px;
    cursor: default;
}

.btn-copy-active {
    background-color: $gray-600;
    border-color: $gray-600;
    color: $white;
}

.lett-spacing-2 {
    letter-spacing: 2px;
}

.nav-info {
    transition: all 0.2s linear;
    text-decoration-style: dashed !important;
    text-underline-offset: 4px;
}

.nav-info:hover {
    background-color: $info !important;
    text-decoration-color: $dark !important;
    color: #000000 !important;
}

.white-space-nw {
    white-space: nowrap;
}

.min-w-f-content {
    min-width: fit-content;
}

.max-w-f-content {
    max-width: fit-content;
}

.w-f-content {
    width: fit-content;
}

.w200 {
    width: 200px;
}

.f-ctrl-no-shadow {
    box-shadow: none;
    border-color: $border-color;
}

.sort_arrow {
    content: "";
    padding: $spacer * 0.5;
    background-repeat: no-repeat;
}

.sintony-reg {
    font-family: "SintonyRegular", sans-serif;
    font-weight: 400;
}

.sintony-bold {
    font-family: "SintonyBold", sans-serif;
    font-weight: 700;
}

.body-wrapper {
    height: 100vh;
}

.c-form select ~ .invalid-feedback,
.c-form .t-sel ~ .invalid-feedback,
.c-form select:invalid ~ .invalid-feedback,
.c-form .t-sel:invalid ~ .invalid-feedback {
    margin-top: -1rem !important;
}

/* cookies consent styles */

.cookies-consent-wrapper {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
    max-width: 365px;
    background: #fff;
    padding: 25px 25px 30px 25px;
    border-radius: 15px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
    text-align: center;

    img {
        max-width: 90px;
    }
}

.cookies-consent-wrapper.hide {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
}

// ::selection {
//     color: #fff;
//     background: #fcba7f;
// }

.content {
    margin-top: 10px;

    header {
        font-size: 25px;
        font-weight: 600;
    }

    p {
        color: #858585;
        margin: 5px 0 20px 0;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            padding: 10px 20px;
            border: none;
            outline: none;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            border-radius: 5px;
            background: #7752fe;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        button:hover {
            transform: scale(0.97);
        }

        .item {
            margin: 0 10px;
        }

        a {
            color: #fcba7f;
        }
    }
}
/* end of cookies consent styles */

/* pagination styles */
.prev-page {
    margin-left: 4px;
}

.next-page {
    margin-right: 4px;
}

.c-pagination-cnt {
    .pagination {
        li > a {
            font-size: 0.875rem;
        }

        @extend .prev-page;
        @extend .next-page;
        margin-right: 16px;
        margin-bottom: 0;
    }

    .pagination {
        .page-item.first,
        .page-item.last {
            max-width: 38px;

            a {
                padding-left: 4px;
                padding-right: 4px;
            }
        }
    }
}

@media screen and (min-width: 464px) {
    .c-pagination-cnt {
        .pagination {
            .page-item.first,
            .page-item.last {
                max-width: 100%;

                a {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }
        }
    }
}
/* end of pagination styles */

/* header styles */
.header {
    height: 96px;
    max-height: 96px;

    .logo,
    .navbar-brand:hover {
        font-family: "EuroCaps", sans-serif;
        font-size: $f-size-logo;
        color: $custom-orange !important;
    }

    .menu {
        &__link {
            transition: color 0.2s linear;

            &_nested.active {
                background-color: $header-color !important;
            }

            @extend .sintony-bold;
            letter-spacing: 1px;
            font-size: 1rem;
        }

        &__link:hover,
        &__link.active {
            // color: $custom-light-orange  !important;
            color: $custom-orange !important;
        }
    }

    .dropdown-menu {
        .dropdown-item:hover {
            background-color: $header-color;
        }
    }
}
/* end ofheader styles */

/* footer styles */
.footer {
    height: auto;

    p {
        @extend .sintony-reg;
        font-size: 0.75rem;
    }

    &__link {
        transition: color 0.2s linear;
    }

    &__link:hover,
    &__link.active {
        color: $info !important;
    }

    @media screen and (min-width: 576px) {
        .row {
            height: 100%;
        }
    }
}
/* end of footer styles */

/* mobile menu styles */
.nav-button {
    letter-spacing: 1.1px;
    transition: all 0.2s linear;
}

.nav-button:hover:not(.active) {
    background-color: $info !important;
    box-shadow: 0 0 4px 4px $light;
}

.nav-button.active {
    cursor: auto;
}

.col-tile,
.main-tile {
    max-width: 240px;
}

.main-tile {
    height: 80px;

    a {
        font-size: 0.875rem;
    }
}

.small-tile {
    width: auto;
    height: auto;

    a {
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 330px) {
    .main-tile {
        a {
            font-size: 1rem;
        }
    }
}
/* end of mobile menu styles */

/* generic form styles */
form {
    &-check-input:focus {
        @extend .f-ctrl-no-shadow;
    }

    &-check-input:checked {
        // border-color: $custom-light-orange;
        border-color: $info;
    }

    &-control.is-invalid {
        background-image: none;
    }
}

#accordionForm {
    .accordion-button:not(.collapsed) {
        background-color: $secondary-bg-subtle;
    }

    .accordion-button:focus {
        box-shadow: none;
    }
}

.c-form {
    @extend .sintony-bold;
    letter-spacing: 2px;

    select,
    option {
        @extend .sintony-reg;
        letter-spacing: 2px;
    }

    .btn-violet {
        @extend .sintony-bold;
        letter-spacing: 4px;
    }

    .min-lett-spacing {
        letter-spacing: 1px;
    }

    .buy-sell-switch {
        label {
            @extend .max-w-f-content;
            background-color: $secondary-bg-subtle;
            width: 72px;
            font-size: inherit;
        }

        label:hover,
        .btn-check:checked + .btn {
            @extend .sintony-bold;
            background-color: $info;
        }
    }

    @media screen and (min-width: 1031px) {
        .min-lett-spacing {
            letter-spacing: 2px;
        }
    }
}
/* end of generic form styles */

/* result styles */
.c-loading {
    @extend .w-f-content;
    box-shadow: 0 0 8px 8px $light-bg-subtle;
}

.c-result-legend {
    width: 228px;

    &-item {
        height: 20px;

        &-color {
            width: 28px;
        }
    }

    h2::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $dark;
    }
}

table {
    .table-link,
    .table-link-tr {
        @extend .nav-info;
    }
}

.c-table {
    th.sortable {
        transition: background-color 0.2s linear;
    }

    th.sortable:hover {
        background-color: $primary !important;
        color: $light;
    }

    th.sortable > a > span {
        position: relative;
    }

    th.sortable > a span::after {
        content: "";
        position: absolute;
        right: 8px;
        bottom: 0;
        left: 50%;
        width: 0;
        background-color: $light;
        height: 2px;
        transition: all 0.2s linear;
    }

    th.sortable:hover > a span::after {
        width: 100%;
        left: 0;
    }
}
/* end of result styles */

/* Trade Routes page styles */
.tr-route {
    &-block {
        &-inner {
            background-color: $light;
            box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        }
    }

    .tr-info-block {
        background-color: $light;

        &-right {
            border-bottom-left-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
        }

        &-left {
            border-top-left-radius: 0.375rem;
            border-top-right-radius: 0.375rem;
        }

        @media screen and (min-width: 992px) {
            &-right {
                border-top-right-radius: 0.375rem;
            }

            &-left {
                border-bottom-left-radius: 0.375rem;
            }
        }

        &-mid {
            font-size: 0.875rem;

            div {
                height: 1px;
            }
        }

        td {
            background-color: $light;
        }
    }
}
/* end of Trade Routes page styles */

/* moving arrows styles */
.arrow {
    position: absolute;

    span {
        display: block;
        width: 1.5vw;
        height: 1.5vw;
        border-bottom: 5px solid $custom-light-orange;
        border-right: 5px solid $custom-light-orange;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }

    span:nth-child(2) {
        animation-delay: -0.2s;
    }

    span:nth-child(3) {
        animation-delay: -0.4s;
    }
}

.arrow.arrow-left,
.arrow.arrow-right {
    top: 32%;
    left: 45%;
}

.arrow.arrow-right {
    transform: rotate(0deg);
}

.arrow.arrow-left {
    transform: rotate(180deg);
}

.arrow-cnt {
    min-height: 100px;
}

@media screen and (min-width: 992px) {
    .arrow-cnt {
        min-height: 80px;
    }

    .arrow.arrow-right,
    .arrow.arrow-left {
        top: 32%;
        left: 45%;
    }

    .arrow.arrow-right {
        transform: rotate(-90deg);
    }

    .arrow.arrow-left {
        transform: rotate(90deg);
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
/* end of moving arrows styles */

/* gridview */
.grid-view {
    .summary {
        color: $light;
    }

    table {
        th {
            background-color: $secondary-bg-subtle;

            a {
                transition: all 0.2s linear;
            }

            a:hover {
                color: $info;
            }
        }
    }

    a::after {
        margin-left: 4px;
    }

    a.asc::after {
        content: "🔼";
        color: #000000;
    }

    a.desc::after {
        content: "🔽";
        color: #000000;
    }

    .filters input:focus,
    .filters select:focus {
        @extend .f-ctrl-no-shadow;
    }

    .filters .input-group {
        min-width: 100px;
    }
}

.grid-view__ref-sys-divider {
    display: none;
}

.engineers-header {
    th:first-child {
        min-width: 120px;
        @extend .white-space-nw;
    }
}

.engineers-cnt {
    tbody {
        tr td:last-child {
            min-width: 160px;
        }

        .engineers-cnt tbody tr td:nth-child(2),
        .engineers-cnt tbody tr td:nth-child(4) {
            @extend .min-w-f-content;
            @extend .white-space-nw;
        }
    }

    .engineers-body-row {
        td a {
            text-decoration: underline;
            color: $primary;
            transition: all 0.2s linear;
        }

        td a:hover {
            color: $warning;
        }
    }
}
/* end  of gridview */

/* details styles */
.details-cnt {
    h1 ~ p {
        color: $gray-200;
    }

    th,
    td {
        border: 0;
    }

    tr:first-child th {
        border-top-left-radius: 0.375rem;
    }

    tr:first-child td {
        border-top-right-radius: 0.375rem;
    }

    tr:last-child th {
        border-bottom-left-radius: 0.375rem;
    }

    tr:last-child td {
        border-bottom-right-radius: 0.375rem;
    }

    th {
        @extend .min-w-f-content;
        @extend .white-space-nw;
        background-color: $body-tertiary-bg;
        border-right: 1px solid $dark;
    }
}
/* details styles */

.site-contact {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

@media screen and (min-width: 449px) {
    .grid-view__ref-sys-divider {
        display: block;
    }
}

/* custom select */
form.was-validated :invalid,
form.was-validated :invalid ~ .selected-items {
    border-color: $danger !important;
}
/* end of custom select */

/* sortable table library */
table.sortable {
    thead {
        th:not(.no-sort) {
            cursor: pointer;
        }

        th:not(.no-sort):hover {
            color: $primary !important;
        }

        th:not(.no-sort) span::after {
            content: "";
            padding: calc(1rem * 0.5) 1rem;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%23f8f9fa" class="bi bi-caret-up" viewBox="0 0 16 16"><path d="M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659"  /></svg>');
            visibility: hidden;
        }

        th:not(.no-sort) span {
            display: flex;
            justify-content: space-between;
        }

        th:not(.no-sort)[aria-sort="ascending"] span {
            align-items: flex-start;
        }

        th:not(.no-sort)[aria-sort="descending"] span {
            align-items: flex-end;
        }

        th:not(.no-sort)[aria-sort="ascending"] span::after {
            content: "";
            padding: calc(1rem * 0.5) 1rem;
            background-image: url("../../images/sort-up.svg");
            background-repeat: no-repeat;
            background-position: bottom;
            visibility: visible;
            // background-color: ;
            color: $light !important;
        }

        th:not(.no-sort)[aria-sort="descending"] span::after {
            content: "";
            padding: calc(1rem * 0.5) 1rem;
            background-image: url("../../images/sort-down.svg");
            background-repeat: no-repeat;
            background-position: top;
            visibility: visible;
        }

        th:not(.no-sort) span::after {
            content: "";
            // padding: calc(1rem * .5) 1rem;
            background-image: url("../../images/arrows-vertical.svg");
            background-repeat: no-repeat;
            background-position: top;
            visibility: visible;
        }
    }
}
/* end of sortable table library */
