@import 'fonts';
@import "vars";
@import "../../../node_modules/bootstrap/scss/functions.scss";
@import "../../../node_modules/bootstrap/scss/variables.scss";

.sort_arrow {
    content: "";
    padding: $spacer * .5;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%23f8f9fa" class="bi bi-caret-up" viewBox="0 0 16 16"><path d="M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659"  /></svg>');
    background-repeat: no-repeat;
    background-position: top;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
}

input {
    outline: 0;
}

body {
    overflow-x: hidden;
}

.sintony-reg {
    font-family: 'SintonyRegular', sans-serif;
    font-weight: 400;
}

.sintony-bold {
    font-family: 'SintonyBold', sans-serif;
    font-weight: 700;
}

.font-inherit {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.body-wrapper {
    height: 100vh;
}

/**
* pagination styles
*/
.prev-page {
    margin-left: 4px;
}

.next-page {
    margin-right: 4px;
}

.c-pagination-cnt {
    .pagination {
        li > a {
            font-size: 0.875rem;
        }
        
        @extend .prev-page;
        @extend .next-page;
        margin-right: 16px;
        margin-bottom: 0;
    }
    
    .pagination {
        .page-item.first,
        .page-item.last {
            max-width: 38px;
            
            a {
                padding-left: 4px;
                padding-right: 4px;
            }
        }
    }
}

@media screen and (min-width: 464px) {
    .c-pagination-cnt {
        .pagination {
            .page-item.first,
            .page-item.last {
                max-width: 100%;
                
                a {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }
        }
    }
}

/**
* header styles
*/
.header {
    height: 96px;
    max-height: 96px;
    
    .logo,
    .navbar-brand:hover {
        font-family: 'EuroCaps', sans-serif;
        font-size: $f-size-logo;
        color: $custom-orange !important;
    }
    
    .menu {
        &__item {
            //width: fit-content;
        }
        
        //&__link::after {
        //    position: absolute;
        //    bottom: -1px;
        //    left: 50%;
        //    content: "";
        //    width: 0;
        //    height: 3px;
        //    background-color: $custom-light-orange;
        //    transition-property: width, left;
        //    transition-duration: 200ms;
        //    transition-timing-function: linear;
        //}
        //
        //&__link:hover:not(.active){
        //    &::after {
        //        left: 0;
        //        width: 100%;
        //    }
        //}
        //
        //&__link:hover.show {
        //    &::after {
        //        left: 50%;
        //        width: 0;
        //    }
        //}
        
        //&__link_nested::after {
        //    bottom: 10px;
        //}
        //
        //&__link_nested:hover:not(.active){
        //    &::after {
        //        left: 10%;
        //        width: 80%;
        //    }
        //}
        
        &__link {
            &_nested.active {
                background-color: $header-color !important;
            }
            @extend .sintony-bold;
            letter-spacing: 1px;
            font-size: 1rem;
        }
        
        &__link:hover,
        &__link.active {
            color: $custom-light-orange !important;
            
        }
    }
    
    .dropdown-menu {
        .dropdown-item:hover {
            background-color: $header-color;
        }
    }
}

/**
* footer styles
*/
.footer {
    height: auto;
    
    p {
        @extend .sintony-reg;
        font-size: 0.625rem;
    }
}

/**
* main styles
*/
main {
    .nav-button {
        @extend .sintony-bold;
        letter-spacing: 1.1px;
        transition: all 0.2s linear;
    }
    
    .nav-button:hover {
        background-color: $warning !important;
        color: $primary !important;
        box-shadow: 0 0 4px 4px $light;
    }
}

/**
* generic form styles
*/
form {
    &-check-input:focus {
        box-shadow: none;
        border-color: $border-color
    }
    
    &-check-input:checked {
        border-color: $custom-light-orange;
    }
    
    &-control.is-invalid {
        background-image: none;
    }
}

/**
* commodities form and result styles
*/
#accordionForm {
    .accordion-button:not(.collapsed) {
        background-color: $custom-light-orange;
    }
    
    .accordion-button:focus {
        box-shadow: none;
    }
}

.c-form {
    @extend .sintony-bold;
    letter-spacing: 2px;
    
    .dropdown {
        .btn-outline-dark {
            @extend .font-inherit;
        }
        
        .btn-outline-dark:active,
        .btn-outline-dark:focus,
        .btn-outline-dark {
            color: $dark;
        }
        
        .btn-outline-dark:hover {
            background-color: $custom-light-orange !important;
            color: $dark;
        }
    }
    
    select,
    option {
        @extend .sintony-reg;
        letter-spacing: 2px;
    }
    
    .btn-violet {
        @extend .sintony-bold;
        letter-spacing: 4px;
    }
    
    .min-lett-spacing {
        letter-spacing: 1px;
    }
    
    .buy-sell-switch {
        label {
            background-color: $secondary-bg-subtle;
            width: 72px;
            max-width: fit-content;
            font-size: inherit;
        }
        
        label:hover,
        .btn-check:checked + .btn {
            background-color: $custom-light-orange;
        }
    }
    
    @media screen and (min-width: 1031px) {
        .min-lett-spacing {
            letter-spacing: 2px;
        }
    }
}

.c-loading {
    width: fit-content;
    box-shadow: 0 0 4px 4px $light-bg-subtle;
}

.c-result-legend {
    width: 228px;
    
   &-item {
        height: 20px;
       
       &-color {
           width: 28px;
       }
    }
}

.c-result-legend {
    h2::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 29%;
        width: 42%;
        height: 1px;
        background-color: $dark;
    }
}

.c-table {
    thead {
        tr {
            th:nth-child(6),
            th:nth-child(9),
            th:nth-child(10) {
                a.sorted.asc::after {
                    @extend .sort_arrow;
                }

                a.sorted.desc::after {
                    @extend .sort_arrow;
                    transform: rotate(180deg);
                }
            }
            
            th:nth-child(6):hover,
            th:nth-child(9):hover,
            th:nth-child(10):hover {
                a.sorted.asc::after {
                    @extend .sort_arrow;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%212529" class="bi bi-caret-up" viewBox="0 0 16 16"><path d="M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659"  /></svg>');
                    
                }
                
                a.sorted.desc::after {
                    @extend .sort_arrow;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%212529" class="bi bi-caret-up" viewBox="0 0 16 16"><path d="M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659"  /></svg>');
                    transform: rotate(180deg);
                }
            }
        }
        
        th:nth-child(6):hover,
        th:nth-child(9):hover,
        th:nth-child(10):hover {
            background-color: $warning !important;
            
            a {
                color: $light !important;
            }
        }
    }
}

tr {
    td,
    th {
        width: 300px;
    }
    
    td:first-child,
    th:first-child {
        width: fit-content;
    }
    
    td:nth-child(2),
    th:nth-child(2) {
        width: fit-content;
    }
    
    td:nth-child(3),
    th:nth-child(3) {
        width: fit-content;
    }
    
    td:nth-child(4),
    th:nth-child(4) {
        width: fit-content;
    }
    
    td:nth-child(5),
    th:nth-child(5) {
        width: fit-content;
    }
    
    td:nth-child(6),
    th:nth-child(6) {
        width: fit-content;
    }
    
    td:nth-child(7),
    th:nth-child(7) {
        width: fit-content;
    }
    
    td:nth-child(8),
    th:nth-child(8) {
        width: fit-content;
    }
    
    td:nth-child(9) {
        @extend .sintony-bold
    }
    
    td:nth-child(9),
    th:nth-child(9) {
        width: fit-content;
    }
    
    td:nth-child(10),
    th:nth-child(10) {
        width: fit-content;
    }
}

/*
* Trade Routes page styles
*/
.tr-route {
    &-block {
        &-inner {
            background-color: $light;
            box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        }
    }
    
    .tr-info-block {
        background-color: $light;
        
        &-right {
            border-bottom-left-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
        }
        
        &-left {
            border-top-left-radius: 0.375rem;
            border-top-right-radius: 0.375rem;
        }
        
        @media screen and (min-width: 992px) {
            &-right {
                border-top-right-radius: 0.375rem;
            }
            
            &-left {
                border-bottom-left-radius: 0.375rem;
            }
        }
        
        &-mid {
            font-size: 0.875rem;
            
            div {
                height: 1px;
            }
        }
        
        td {
            background-color: $light;
        }
    }
}

/*
* moving arrows styles
*/
.arrow {
    position: absolute;
    
    span {
        display: block;
        width: 1.5vw;
        height: 1.5vw;
        border-bottom: 5px solid $custom-light-orange;
        border-right: 5px solid $custom-light-orange;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    
    span:nth-child(2) {
        animation-delay: -0.2s;
    }
    
    span:nth-child(3) {
        animation-delay: -0.4s;
    }
}

.arrow.arrow-left,
.arrow.arrow-right {
    top: 32%;
    left: 45%;
}

.arrow.arrow-right {
    transform: rotate(0deg);
}

.arrow.arrow-left {
    transform: rotate(180deg);
}

.arrow-cnt {
    min-height: 100px;
}

@media screen and (min-width: 992px) {
    .arrow-cnt {
        min-height: 80px;
    }
    
    .arrow.arrow-right,
    .arrow.arrow-left{
        top: 32%;
        left: 45%;
    }
    
    .arrow.arrow-right {
        transform: rotate(-90deg);
    }
    
    .arrow.arrow-left {
        transform: rotate(90deg);
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/*
* gridview for material traders
*/
.grid-view {
    .summary {
        color: $light;
    }
    
    table {
        th {
            background-color: $custom-light-orange;
        }
    }
    
    nav#w1 {
        display: flex;
        justify-content: center;
    }
}

#w0 {
    a.asc,
    a.desc {
        position: relative;
    }
    
    a.asc::after,
    a.desc::after {
        display: inline-block;
        position: absolute;
        margin-left: 4px;
    }
    
    a.asc::after {
        top: -4px;
        @extend .sort_arrow;
    }
    
    a.desc::after {
        top: -8px;
        @extend .sort_arrow;
        transform-origin: bottom;
        transform: rotate(180deg);
    }
}
